In [80]:
# standard imports
from __future__ import print_function, division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [81]:
# jupyter-specific settings
from IPython.display import Image
%matplotlib inline

In [95]:
import datetime as dt # to work with time stamps

In [83]:
pd.set_option('display.precision', 3) # 3 decimal places
pd.set_option('display.max_rows', 20) # max rows 20

### Exercise 1.1

Combine first four columns as a key, and the rest of the columns as a value (or in pandas, the first four columns is the first variable, whilst the rest of the columns are left intact).

In [84]:
# read in last 4 weeks
wk1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160917.txt')
wk2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160910.txt')
wk3 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160903.txt')
wk4 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160827.txt')

In [85]:
# concatenate into one df with 4 weeks of data
# concat appends rows horizontally with no duplicate headings
df = pd.concat([wk1, wk2, wk3, wk4])
df.info() # 772507 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 772507 entries, 0 to 191611
Data columns (total 11 columns):
C/A                                                                     772507 non-null object
UNIT                                                                    772507 non-null object
SCP                                                                     772507 non-null object
STATION                                                                 772507 non-null object
LINENAME                                                                772507 non-null object
DIVISION                                                                772507 non-null object
DATE                                                                    772507 non-null object
TIME                                                                    772507 non-null object
DESC                                                                    772507 non-null object
ENTRIES                                                                 772507 non-null int64
EXITS                                                                   772507 non-null int64
dtypes: int64(2), object(9)
memory usage: 70.7+ MB

In [86]:
# note the filename format: 
# 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_YYMMDD.txt'
# can also define function to read in data for a list of week end dates (credit: Ramesh)

def get_data(weeks):
    url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt'
    df = [] # for list of weeks desired
    for week in weeks:
        file_url = url.format(week) # string formatting to replace {} with week
        df.append(pd.read_csv(file_url))
    return pd.concat(df)

In [87]:
weeks = [160917,160910,160903,160827]
df = get_data(weeks)
df.info() # 772507 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 772507 entries, 0 to 191611
Data columns (total 11 columns):
C/A                                                                     772507 non-null object
UNIT                                                                    772507 non-null object
SCP                                                                     772507 non-null object
STATION                                                                 772507 non-null object
LINENAME                                                                772507 non-null object
DIVISION                                                                772507 non-null object
DATE                                                                    772507 non-null object
TIME                                                                    772507 non-null object
DESC                                                                    772507 non-null object
ENTRIES                                                                 772507 non-null int64
EXITS                                                                   772507 non-null int64
dtypes: int64(2), object(9)
memory usage: 70.7+ MB

In [88]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [89]:
# strip any leading/trailing spaces
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [90]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,00:00:00,REGULAR,5817505,1971936
1,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,04:00:00,REGULAR,5817544,1971940
2,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,08:00:00,REGULAR,5817564,1971981
3,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,12:00:00,REGULAR,5817678,1972094
4,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,16:00:00,REGULAR,5817925,1972180

In [91]:
df.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
191607,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/26/2016,05:00:00,REGULAR,5554,257
191608,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/26/2016,09:00:00,REGULAR,5554,257
191609,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/26/2016,13:00:00,REGULAR,5554,257
191610,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/26/2016,17:00:00,REGULAR,5554,257
191611,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/26/2016,21:00:00,REGULAR,5554,257

Combine first four columns into one variable using string concatenation syntax. Construct new DataFrame with this new structure.

In [92]:
# df['COMBINED_LOC'] = df['C/A'] + ',' + df['UNIT'] + ',' + df['SCP'] + ',' + df['STATION']
# df.head()

In [93]:
# newdf = df[['COMBINED_LOC', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']]
# newdf.head()
# df.groupby(['C/A','UNIT','SCP', 'STATION'])

In [104]:
# count of unique values in the column 'DATE'
# e.g. there are 27270 observations that have the value '08/20/2016'
# for the variable 'DATE'
df.DATE.value_counts().sort_index()

08/20/2016    27270
08/21/2016    27665
08/22/2016    27369
08/23/2016    27311
08/24/2016    27341
08/25/2016    27398
08/26/2016    27258
08/27/2016    27290
08/28/2016    27300
08/29/2016    27828
              ...
09/07/2016    27977
09/08/2016    28137
09/09/2016    27956
09/10/2016    27325
09/11/2016    27334
09/12/2016    28074
09/13/2016    27343
09/14/2016    27359
09/15/2016    27283
09/16/2016    28160
Name: DATE, dtype: int64

### Exercise 1.2

Keep only date, time, and entries field. Convert the date and time columns into datetime objects.
e.g. ('A002','R051','02-00-00','LEXINGTON AVE'): [datetime.datetime(2013, 3, 2, 3, 0), 3788]

Must combine 'DATE' and 'TIME' variables, then convert the entries to datetime objects.

In [106]:
df['DATE_TIME'] = df['DATE'] + '-' + df['TIME']
df.head() # new combined 'DATE_TIME'

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,00:00:00,REGULAR,5817505,1971936,09/10/2016-00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,04:00:00,REGULAR,5817544,1971940,09/10/2016-04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,08:00:00,REGULAR,5817564,1971981,09/10/2016-08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,12:00:00,REGULAR,5817678,1972094,09/10/2016-12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,16:00:00,REGULAR,5817925,1972180,09/10/2016-16:00:00

Convert 'DATE_TIME' observations to datetime objects. Format using strftime formatting.

In [107]:
# infer datetime format
df['DATE_TIME'] = pd.to_datetime(newdf['DATE_TIME'], infer_datetime_format = True)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,00:00:00,REGULAR,5817505,1971936,2016-09-10 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,04:00:00,REGULAR,5817544,1971940,2016-09-10 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,08:00:00,REGULAR,5817564,1971981,2016-09-10 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,12:00:00,REGULAR,5817678,1972094,2016-09-10 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,16:00:00,REGULAR,5817925,1972180,2016-09-10 16:00:00

In [108]:
#pd.to_datetime(, format = “%d/%m/%Y”)# take from strftime
df['DATE_TIME'] = pd.to_datetime(newdf['DATE_TIME'], format = '%m/%d/%Y-%H:%M:%S')
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,00:00:00,REGULAR,5817505,1971936,2016-09-10 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,04:00:00,REGULAR,5817544,1971940,2016-09-10 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,08:00:00,REGULAR,5817564,1971981,2016-09-10 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,12:00:00,REGULAR,5817678,1972094,2016-09-10 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456,BMT,09/10/2016,16:00:00,REGULAR,5817925,1972180,2016-09-10 16:00:00

In [109]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'DATE_TIME'],
      dtype='object')

In [110]:
# create new df with just desire columns
dtdf = df[['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME', 'ENTRIES']]
dtdf.head()

    C/A  UNIT       SCP STATION           DATE_TIME  ENTRIES
0  A002  R051  02-00-00   59 ST 2016-09-10 00:00:00  5817505
1  A002  R051  02-00-00   59 ST 2016-09-10 04:00:00  5817544
2  A002  R051  02-00-00   59 ST 2016-09-10 08:00:00  5817564
3  A002  R051  02-00-00   59 ST 2016-09-10 12:00:00  5817678
4  A002  R051  02-00-00   59 ST 2016-09-10 16:00:00  5817925

Check the uniqueness of records for every turnstile by grouping observations based on 'C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME', and counting 'ENTRIES'. Sort by 'ENTRIES' in descending order.

In [115]:
df_grouped = (df
 .groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME']) # this grouping is a turnstile
 .ENTRIES.count() # count entries for each turnstile
 .reset_index() # converts groupby object into a df
 .sort_values('ENTRIES', ascending = False) # sort by ENTRIES in descending order
)
df_grouped # new df

          C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
752394   R634  R069  00-00-00     NEW LOTS AV 2016-08-21 20:00:00        2
752391   R634  R069  00-00-00     NEW LOTS AV 2016-08-21 08:00:00        2
752386   R634  R069  00-00-00     NEW LOTS AV 2016-08-20 12:00:00        2
683323   R504  R276  00-00-01  VERNON-JACKSON 2016-09-16 08:00:00        2
752387   R634  R069  00-00-00     NEW LOTS AV 2016-08-20 16:00:00        2
752388   R634  R069  00-00-00     NEW LOTS AV 2016-08-20 20:00:00        2
752398   R634  R069  00-00-00     NEW LOTS AV 2016-08-22 12:00:00        2
752397   R634  R069  00-00-00     NEW LOTS AV 2016-08-22 08:00:00        2
752389   R634  R069  00-00-00     NEW LOTS AV 2016-08-21 00:00:00        2
752395   R634  R069  00-00-00     NEW LOTS AV 2016-08-22 00:00:00        2
...       ...   ...       ...             ...                 ...      ...
257495   N128  R200  00-05-01       EUCLID AV 2016-08-25 12:00:00        1
257496   N128  R200  00-05-01       EUCLID AV 2016-08-25 16:00:00        1
257497   N128  R200  00-05-01       EUCLID AV 2016-08-25 20:00:00        1
257498   N128  R200  00-05-01       EUCLID AV 2016-08-26 00:00:00        1
257499   N128  R200  00-05-01       EUCLID AV 2016-08-26 04:00:00        1
257500   N128  R200  00-05-01       EUCLID AV 2016-08-26 08:00:00        1
257501   N128  R200  00-05-01       EUCLID AV 2016-08-26 12:00:00        1
257502   N128  R200  00-05-01       EUCLID AV 2016-08-26 16:00:00        1
257503   N128  R200  00-05-01       EUCLID AV 2016-08-26 20:00:00        1
772494  TRAM2  R469  00-05-01   RIT-ROOSEVELT 2016-09-16 21:00:00        1

[772495 rows x 6 columns]

From df_grouped printout above, there seems to be a few turnstiles that have more than 1 entry for a specific date.

In [120]:
# subset df of observations with duplicate entries
mask = (df_grouped['ENTRIES'] > 1)
df_grouped[mask]

         C/A  UNIT       SCP         STATION           DATE_TIME  ENTRIES
752394  R634  R069  00-00-00     NEW LOTS AV 2016-08-21 20:00:00        2
752391  R634  R069  00-00-00     NEW LOTS AV 2016-08-21 08:00:00        2
752386  R634  R069  00-00-00     NEW LOTS AV 2016-08-20 12:00:00        2
683323  R504  R276  00-00-01  VERNON-JACKSON 2016-09-16 08:00:00        2
752387  R634  R069  00-00-00     NEW LOTS AV 2016-08-20 16:00:00        2
752388  R634  R069  00-00-00     NEW LOTS AV 2016-08-20 20:00:00        2
752398  R634  R069  00-00-00     NEW LOTS AV 2016-08-22 12:00:00        2
752397  R634  R069  00-00-00     NEW LOTS AV 2016-08-22 08:00:00        2
752389  R634  R069  00-00-00     NEW LOTS AV 2016-08-21 00:00:00        2
752395  R634  R069  00-00-00     NEW LOTS AV 2016-08-22 00:00:00        2
752393  R634  R069  00-00-00     NEW LOTS AV 2016-08-21 16:00:00        2
752392  R634  R069  00-00-00     NEW LOTS AV 2016-08-21 12:00:00        2

Check each of the duplicate observations above.

In [142]:
# use original df
mask = ((df["C/A"] == 'R634') &
         (df['UNIT'] == 'R069') &
         (df['SCP'] == '00-00-00') &
         (df['STATION'] == 'NEW LOTS AV') &
         (df['DATE_TIME'].dt.date == datetime.datetime(2016,8,21).date() )) 
df[mask]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
186621,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,00:00:00,REGULAR,5168047,7058253,2016-08-21 00:00:00
186622,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,00:00:00,RECOVR AUD,12525478,2075574,2016-08-21 00:00:00
186623,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,04:00:00,REGULAR,5168116,7058430,2016-08-21 04:00:00
186624,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,08:00:00,REGULAR,5168244,7058564,2016-08-21 08:00:00
186625,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,08:00:00,RECOVR AUD,12525478,2075574,2016-08-21 08:00:00
186626,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,12:00:00,REGULAR,5168444,7058740,2016-08-21 12:00:00
186627,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,12:00:00,RECOVR AUD,12525478,2075574,2016-08-21 12:00:00
186628,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,16:00:00,REGULAR,5168686,7059001,2016-08-21 16:00:00
186629,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,16:00:00,RECOVR AUD,12525478,2075574,2016-08-21 16:00:00
186630,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,20:00:00,REGULAR,5168852,7059299,2016-08-21 20:00:00
186631,R634,R069,00-00-00,NEW LOTS AV,3,IRT,08/21/2016,20:00:00,RECOVR AUD,12525478,2075574,2016-08-21 20:00:00

In [138]:
df['C/A'] == 'R634'

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
          ...
191602    False
191603    False
191604    False
191605    False
191606    False
191607    False
191608    False
191609    False
191610    False
191611    False
Name: C/A, dtype: bool

In [133]:
df['DATE_TIME'].dt.date.dtype
# type(datetime.datetime(2016,8,21).date())

dtype('O')

### Exercise 1.3

Compute total daily entries per turnstile (original dataset had counts for every 4 hours).

In [ ]:
dtdf.groupby(['COMBINED_LOC']).ENTRIES